html, body {
  overflow: hidden;
}

  canvas {
    background: black;
    opacity: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }
  
  .button {
  
    background-color: transparent;
    border: white;
    outline-width: 3px;

    font-family: 'Goudy Old Style';
    font-size: 48px;
    color: white;
    text-align: center;

    padding: 16px 16px;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
  }